        body{
            margin-left: 20px;
            margin-right: 20px;
            color: white;
            font-family: Apple Chancery, cursive;
            background-image: linear-gradient(black, purple);
        }
        .content{
            animation-name: slide;
            animation-duration: 2s;
        }
        .link{
            text-decoration:none;
            color: white;
        }
        .h{
            font-family: Apple Chancery, cursive;
            padding: 20px 20px 0px 20px;
        }
        .nol{
            height: 50px;
            width:1000px;
            border-radius: 5px;            
            border-color: black;
            font-family: Apple Chancery, cursive;
        }
        .error{
            color:red;
            text-align: center;
        }
        .dellink{
            text-decoration: none;
            color:red;
        }
         .dellink:hover{
            color:rgb(151, 3, 3);
            cursor:pointer;
        }
        .btn{            
            padding: 10px;
            font-size:20px;
            border-radius: 5px;
            border: none;
            background-color: white;
            font-family: Stencil Std, fantasy;
        }
        .btn:hover{
            background-color: #ccccff;
            cursor: pointer;
            border: none;
        }
        .btn2{
            font-size:30px;
            background-color:rgb(102, 0, 102,0);
            border-radius:5px;
            color:white;
            padding:8 15 10 15;
            border: solid 1px beige;
            font-family: Apple Chancery, cursive;
        }
        .btn2:hover{
            color:beige;
            background-color:#4d0066;
            cursor:pointer;
        }
        .btn3{
            background-color:rgb(102, 0, 102,0);
            border-radius:5px;
            color:white;
            padding:8 15 10 15;
            border: none;
            font-family: Apple Chancery, cursive;
        }
        .btn3:hover{
            color:red;
            background-color:#4d0066;
            cursor:pointer;
        }
        .name{
            text-align:center;
            font-family:Times, Times New Roman, serif;
        }
        .y{
            paddin-left:20px;
        }
        .h{
            font-size:40px;
        }
        .container{
            border: solid 1px white;
            padding-top: 10px;
            padding-bottom: 25px;
            padding-left:20px;
            padding-right: 10px;
        }
        .animation{
            padding: 20px;
            position: relative;
            text-align: center;
            animation-name: slide;
            animation-duration: 1.5s;
            animation-iteration-count: 1;
        }
         @keyframes slide {
             0% {
                 opacity: 0;
             }
             100% {
                 opacity: 1;
             }
         }