{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'style1.css' %}">
        <title>To Do list website by Sarthak Nandre</title>
    </head>
    <body>
        <h1 align="center" class="animation h" >Welcome To My Todo List Website</h1>
        <br>
<!-- Create List -->
        <div class="content">
            <div class="container">
                <h1 align="center" class="name">Create new lists here</h1>
                {% for z in messages %}
                    <h3 class="error" align="center">{{z}}</h3>
                {% endfor %}
                <div>
                    <form action="clist" method="post" class="formx">
                        {% csrf_token %}
                        <input type="text" class="nol" name="name" placeholder=" Name of List" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" class="btn" value="create"/>
                    </form>
                </div>
            </div>
            <br>
<!-- My Lists -->
            <div>
                <h1 class="y name">My Lists</h1>
                <h5 class="y name">(Click on the list-name to View, Add or Delete tasks)</h5>
                <hr>
            </div>
                {% for x in list %}
                <br>
                    <div class="y">
                        <div>
                            <a href="/lists/{{x.id}}" class="link">
                                <button class="btn2">
                                    {{x.title}}
                                </button>
                            </a>
                        </div>
                        <br>
                        <div>
                            <a href="deletelist/{{x.id}}" class="dellink">
                                <button class="btn3">
                                    Delete List
                                </button>
                            </a>
                        </div>
                    </div>
                    <br>
                    <hr>
                {% endfor %}
<!-- Features -->
            <br><br><br>
            <div id="about" class="container">
                <h2><u>Features of website</u></h2>
                <p>This website is made using html css and django only.</p>
                <p>You can create new lists, access created lists or delete existing lists on this page.</p>
                <p>You can create only one list for one list name.</p>
                <p>The list-name cannot be blank.</p>
                <p>You can click on name of list to view, add or delete tasks of that list.</p>
                <p>You also have an option to add a task to completed tasks in a particular list.</p>
                <p>You can navigate to other lists even from inside a particular list.</p>
                <p>You can delete a task from 'Completed tasks' as well as from 'My tasks'</p>
                <p>You can login to admin panel by using following credentials
                    <br>
                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; username - 'sarthak'
                    <br>
                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; password - 'sar'
                </p>
                <p>When you delete a list, all its tasks automatically get deleted. You can verify this by logging into the admin panel and deleting a list.</p>
                <p>Also instead of database I have used Django Models for storing data.</p>
                <br>
            </div>
<!-- Contact -->
            <div id="contact" class="container">
                <h2><u>My Contact Details</u></h2>
                <p>Name - Sarthak Nandre</p>
                <p>Institute Mail - ee210002067@iiti.ac.in</p>
                <p>Whatsapp Number - 7507115546</p>
            </div>
        <br><br><br>
        </div>
    </body>
<!-- Footer -->
    <footer>
        <div class="content">
            <hr>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="link" target="_blank">
                <p align="center">Have A Good Day.</p>
                <p align="center"><i>(do not CLICK HERE)</i></p>
            </a>
        </div>
    </footer>
</html>